rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isHousehold() {
      return request.auth != null && request.auth.uid == 't4DhGc8Dm6XAGMOwcenilJH4c6S2';
    }

    match /items/{itemId} {
      allow read, write: if isHousehold();
    }

    match /meals/{mealId} {
      allow read, write: if isHousehold();
    }

    match /supplies/{mealId} {
      allow read, write: if isHousehold();
    }

    match /weekPlan/{document} {
      allow read, write: if isHousehold();
    }

    match /knownItems/{knownItemId} {
      allow read, write: if isHousehold();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
